:root {
  --primary-blue: #003b73;
  --vibrant-red: #f24c3d;
  --bright-yellow: #f7c948;
  --warm-beige: #fff8f2;
  --white: #ffffff;
  --dark-gray: #333333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
